{% extends 'base.html.twig' %}

{% block title %}AnnoneImage{% endblock %}

{% block body %}
    <h1>AnnoneImage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annone_image.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annone_image_index') }}">back to list</a>

    <a href="{{ path('app_annone_image_edit', {'id': annone_image.id}) }}">edit</a>

    {{ include('annone_image/_delete_form.html.twig') }}
{% endblock %}
